*{
  padding: 0;
  margin: 0;
}

.form-holder{
  width: 80%;
  margin: auto;
  text-align: center;

}

.form{
  width: 60%;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: space-between;

}

.button{
  width: 30%;
  margin: auto;
}